<div id="sidebar">
    <div class="sidebar-nav">
        <div class="sidebar-brand">
            <a href="/"></a>
        </div>

        <form action="/<%- page.urls.search %>/title" class="search-form">
            <input class="search" id="sidebar_search" name="q" placeholder="<%- page.l.search %>" value="">
            <input class="search-submit" type="submit" value="">
        </form>

        <a href="javascript:void(0)" class="sidebar-link continueViewingBlock" id="continueViewing" style="display: none"><%- page.l.continue %>?</a>

        <hr>
        <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>" class="sidebar-link"><%- page.l.movies %></a>
        <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>" class="sidebar-link"><%- page.l.series %></a>
        <a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>" class="sidebar-link"><%- page.l.tv %></a>
        <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>" class="sidebar-link"><%- page.l.cartoons %></a>
        <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>" class="sidebar-link"><%- page.l.anime %></a>
        <hr>

        <h4><%- page.l.genres %></h4>
        <% page.urls.genres.forEach(function(genre) { %>
        <a href="<%- genre.url %>" class="sidebar-link"><%- genre.title %></a>
        <% }); %>

        <h4><%- page.l.countries %></h4>
        <% page.urls.countries.slice(0,9).forEach(function(country) { %>
        <a href="<%- country.url %>" class="sidebar-link"><%- country.title %></a>
        <% }); %>

        <h4><%- page.l.years %></h4>
        <% page.urls.years.slice(0,9).forEach(function(year) { %>
        <a href="<%- year.url %>" class="sidebar-link"><%- year.title %></a>
        <% }); %>

    </div>

    <% if (typeof page.adv === 'object' && page.adv.left) { %>
    <div style="text-align: center; margin: 10px auto">
        <%- page.adv.left %>
    </div>
    <% } %>

</div>