<% if (typeof top === 'object' && top.length) { %>
<h3 class="h3"><%- page.l.top %></h3>
<ul class="list-unstyled related">
    <% top.forEach(function (movie, i) { %>
        <li style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;"><%- i+1 %>. <a href="<%- movie.url %>" title="<%= movie.title %>"><%- movie.title %></a></li>
    <% }); %>
</ul>
<% } else if (typeof slider === 'object' && slider.length) { %>
<h3 class="h3"><%- page.l.popular %></h3>
<ul class="list-unstyled related">
    <% slider.forEach(function (movie, i) { %>
    <li style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;"><%- i+1 %>. <a href="<%- movie.url %>" title="<%= movie.title %>"><%- movie.title %></a></li>
    <% }); %>
</ul>
<% } %>

<% if (typeof soon === 'object' && soon.length) { %>
<h3 class="h3"><%- page.l.premieres %></h3>
<% soon.forEach(function (movie) { %>
    <div>
        <a href="<%- movie.url %>" class="cinemapress-news" style="background-image:url(<%- movie.poster %>);">
            <div class="cinemapress-news-title">
                <%= movie.title %>
            </div>
        </a>
    </div>
<% }); %>
<% } %>

<% if (typeof news === 'object' && news.length) { %>
<h3 class="h3" style="margin-top: 15px"><%- page.l.news %></h3>
<% news.forEach(function (content) { %>
<div>
    <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url(<%- content.image %>);">
        <div class="cinemapress-news-title">
            <%= content.title %>
        </div>
    </a>
</div>
<% }); %>
<% } %>

<% if (typeof recent === 'object' && recent.length) { %>
<h3 class="h3" style="margin-top: 15px"><%- page.l.comments %></h3>
<% recent.forEach(function (comment) { %>
<div>
    <div class="cinemapress-recent">
        <div class="cinemapress-recent-head">
            <% if (comment.avatar) { %>
            <div class="cinemapress-recent-head-avatar">
                <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
            </div>
            <% } %>
            <div class="cinemapress-recent-head-meta">
                <div>
                    <a href="<%- comment.url %>"><%= comment.title %></a>
                </div>
                <div>
                    <span>
                        <%- comment.user %>
                    </span><span>
                        <%- page.l.said %>
                    </span><span>
                        <%- comment.date %>
                    </span>
                </div>
            </div>
        </div>
        <div class="cinemapress-recent-comment">
            <%- comment.comment %>
        </div>
    </div>
</div>
<% }); %>
<% } %>

<% if (typeof page.adv === 'object' && page.adv.right) { %>
<div style="text-align: center; margin: 10px auto">
    <%- page.adv.right %>
</div>
<% } %>