<!DOCTYPE html>
<html lang="<%- page.language %>">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div id="wrapper">
    <div class="content-wrapper">
        <div class="content">

            <div id="movies">

                <div class="row">

                    <% if (typeof page.adv === 'object' && page.adv.top) { %>
                    <div style="text-align: center; margin: 10px auto">
                        <%- page.adv.top %>
                    </div>
                    <% } %>

                    <div class="col-md-9">

                        <div style="text-align: center">
                            <h1 class="h3"><%- page.h1 %></h1>
                        </div>

                        <% if (typeof categories === 'object' && categories.length) { %>
                        <div style="clear: both"></div>
                        <% categories.forEach(function (content) { %>
                        <div style="float: left; width: 50%;">
                            <div style="margin: 0; padding: 10px">
                                <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url(<%- content.image %>);">
                                    <div class="cinemapress-news-title">
                                        <%= content.title %>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <% }); %>
                        <div style="clear: both"></div>
                        <% } %>

                        <% if (page.seo) { %>
                        <div class="seo">
                            <%- page.seo %>
                        </div>
                        <% } %>

                    </div>
                    <div class="col-md-3">

                        <% include includes/right.ejs %>

                    </div>
                </div>

            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>

    <% include includes/left.ejs %>
</div>
</body>
</html>